<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
        <div class="review-container">
          <div class="review-list">
            <h3>Product Reviews</h3>
            <div class="review-form-container">
              <% if current_user != nil %>
                <%= form_for :review, :method => "post", :url => product_reviews_path(@product), 
                  :html => { :id => "review-form", :class => "review-form" } do |f| %>
                  <%= f.label "Add a Review", :class => 'review-form-title' %>
                  <%= f.text_field :description, :placeholder => "Add your review...", :class => "review-description" %>
                  <div class="rating-container container-row">
                    <%= f.label "Rate this product:", :class => "rating-label" %>
                    <%= f.select :rating, :html => { :class => "rating-dropdown" } do %>
                      <% [['1 ★', 1], ['2 ★', 2], ['3 ★', 3], ['4 ★', 4], ['5 ★', 5]].each do |n|-%>
                        <%= content_tag(:option, n.first, value: n.last) %>
                      <% end %>
                    <% end %>
                    <%= f.submit "Submit Review", :class => "review-submit-btn" %>
                  </div>   
                <% end %>
              <% else %>
                <h4>Sign in to leave a review!</h4>
              <% end %>
            </div>
            <% if show_reviews.size < 1 %>
              <h4 class="no-reviews">There are no reviews for this product.</h4>
            <% else %>
              <% show_reviews.each do |review| %>
                <div class="review-entry">
                  <div class="container-row">
                    <h5 class="review-author"><%= @user = show_author(review); "#{@user.first_name} #{@user.last_name}" %></h5>
                    <div class="rating">
                      <% 5.times do |i| %>
                        <% if i < review.rating %>
                          <span class="star">★</span>
                        <% else %>
                          <span class="star">☆</span>
                        <% end %>
                      <% end %>
                    </div>
                  </div> 
                  <hr/>
                  <div class="review-content">     
                    <p class="review-description"><%= review.description %></p>
                  </div>
                  <% if current_user != nil && review.user_id == current_user.id %>
                    <%= link_to "Delete Review", product_review_path(review.product_id, review.id), :method => "delete" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
  </article>
  
</section>
